include ./template

block head
    link(href="public/css/index.css", rel="stylesheet")

block content
    .container
        .page-header
            h3 Shiba
        a(href="https://www.google.co.th/" target="_blank") 
            button.btn.btn-primary Go to Google
        button.btn.btn-primary#btn-toggle-shiba-img(onclick="$('#shiba-content').toggle()") Toggle Picture
        .row#shiba-content(style="margin-top: 10px;")
            .col-md-12
                a.thumbnail#shiba-img-thumbnail
                    img#shiba-img(src="public/img/shiba.jpg", alt="shiba", title="Shiba")