doctype html
html(lang="en")
    head
        title defaultTitle
        
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(charset="utf-8")
        
        link(href="bootstrap/bootstrap.min.css", rel="stylesheet")
    body
        p used template.
        block content
            
        block script
            script(src="jquery/jquery.min.js")
            //- script(src="/bootstrap-4.0.0-alpha.6-dist/js/bootstrap.min.js")
        